<h2>
    Visualisation
</h2>
<ul>
    <li><a routerLink=''>Bar Chart</a></li>
    <li><a routerLink='piechart3d'>3D Pie Chart</a></li>
    <li><a routerLink='areaandline'>Bar Area Line</a></li>
    <li><a routerLink='dynamic'>Dynamic Charts</a></li>
    <li><a routerLink='map'>Map Charts</a></li>
    <li><a routerLink='requestsbypropertytype'>Requests By Property Type</a></li>
    <li><a routerLink='requestsbyremovaltype'>Requests By Removal Type</a></li>
    <li><a routerLink='provincialrequestsbyremovaltype'>Provincial Requests By Removal Type</a></li>
</ul>

<router-outlet></router-outlet>